*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}


/* Main */


#bigcontainer{
    display: flex;
}

.bloccosx{
    background-color: black;
    width: 20%;
    height: 1100px;
    color: lightgray;
    display: flex;
    flex-direction: column;
}

.logo>img{
    width: 50%;
}

.tre-icone>img{
    width: 10%;
}

.bloccogrosso{
    background-color: #262626;
    width: 80%;
    height: 1100px;
    position: relative;
}

.barraup{
    background-color: #696969;
    width: 100%;
    height: 60px;
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.barraup a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: yellow;
    padding: 10px;
    font-size: 10px;
}

nav{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.contenutocx nav li{
    display: inline;
    text-transform: uppercase;
    list-style: none;
    padding-right: 10px;
    color: lightgray;
}

/* Sezione 1 main */

.recently{
    color: white;
    margin-bottom: 30px;
}

.cd{
    width: 30%;
}
.cd>img{
    width: 80%;
    position: relative;
}

.locandine .cd i{
    position: absolute;
    width: 40px;
    color: white;
}

.locandine{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.locandine h5{
    color: white;
}

.locandine h6{
    color: grey;
}

/* Sezione 2 main */

.sec2loc .jondoe h1{
    color: white;
}

.sec2loc .jondoe h4{
    color: gray;
    margin-bottom: 20px;
}

.sec2loc{
    margin-top: 40px;
}

.sec2loc .locandine .cd img{
    width: 40%;
}

.sec2loc .locandine .cd{
    width: 30%;
}

/* Sezione 3 main */

.sec3loc .popolar {
    margin-top: 20px;
}

.sec3loc .popolar h1,h5{
    color: white;
}

.sec3loc .popolar h4{
    color: gray;
    margin-bottom: 20px;
}

.sec3loc .locandine .cdtond img{
    width: 40%;
}

.sec3loc .locandine .cdtond{
    width: 30%;
}

/* Footer */

footer{
    width: 100%;
    height: 90px;
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    
}

.sinister img{
    width: 35%;
    height: 60px;
    display: inline-block;
    
}

.sinister .text{
    display: inline-block;
}



/* .sinister{
    display: flex;
    flex-direction: row;
   
} */

.heart-folder{
    display: flex;
    flex-direction: column;

}

.barra-centro{
    width: 60%;

}

.play i{
    color: white;
    
}