*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Main */


#bigcontainer{
    display: flex;
}

.bloccosx{
    background-color: black;
    width: 20%;
    height: 600px;
    color: lightgray;
    display: flex;
    flex-direction: column;
}

.logo>img{
    width: 50%;
}

.tre-icone>img{
    width: 10%;
}

.bloccogrosso{
    background-color: #262626;
    width: 80%;
    height: 900px;
    position: relative;
}

.barraup{
    background-color: #696969;
    width: 100%;
    height: 60px;
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.barraup a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: yellow;
    padding: 10px;
    font-size: 10px;
}

nav{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.contenutocx nav li{
    display: inline;
    text-transform: uppercase;
    list-style: none;
    padding-right: 10px;
    color: lightgray;
}

.big-title{
    color: white;
    margin-bottom: 20px;
}

.cd>img{
    width: 10%;
}

.locandine h5{
    color: white;
}

.locandine h6{
    color: grey;
}



/* Footer */

footer{
    width: 100%;
    height: 90px;
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    
}

.sinister img{
    width: 35%;
    height: 60px;
    display: inline-block;
    
}

.sinister .text{
    display: inline-block;
}



/* .sinister{
    display: flex;
    flex-direction: row;
   
} */

.heart-folder{
    display: flex;
    flex-direction: column;

}

.barra-centro{
    width: 60%;

}

.play i{
    color: white;
    
}